.card-data {
  width:inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:5rem;
	height:5rem;
	bottom:2rem;
	right:2rem;
	background-color:#0C9;
	color:#FFF;
	border-radius:2.5rem;
	text-align:center;
	box-shadow: 4px 4px 6px #999;
}

.my-float{
	margin-top:2rem;
	margin-left:0.15rem;

}
.fa-plus{
  width: 2.5rem;
	height:5rem;

}
