.card{
  margin-top: 0.8rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 20rem;

}

img {
  width: 100%;
  height: auto;
  align-items:center;
  aspect-ratio: attr(width) / attr(height);
}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}
.backdrop {
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.3);
  z-index: 50;
  animation: opac 0.4s;
}

.animate-opacity {
  animation: opac 0.4s;
}
